*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(/public/background.png) no-repeat center center/cover; */
      


}

.container {
   
    background-color: rgb(240, 237, 231);
    height: 630px;
    width: 370px;
    box-shadow: 17px 17px 29px black;
    
   border-radius: 15px;

}





.container .title{
    position: relative;
    padding: 20px;
    font-size: 25px;
    letter-spacing:1px;
   display: flex;
   justify-content: center;
}


/* background: url(/public/background.png) no-repeat center center/cover; */
      #result{
         
          height: 100px;
          text-align: right;
          /* border: none;
          background-color: aliceblue; */
      } 

      #history{
          padding-top: 5px;
          padding-bottom: 19px;
          color: rgb(160, 156, 156);
       padding-right: 10px;
          text-align: right;
          height: 20px;
          font-size: 18px;
          margin: 0 20px;
         

      }
      #ouput{
        border: none;
        padding-right: 10px;
        
        text-align: right;
        height: 60px;
        font-size: 37px;
        margin: 10px 20px;
        padding-top: 7px;
        border-radius: 9px;
        box-shadow: 1px 1px 3px  gray;
        background-color: rgb(240, 237, 231);
        
        

    }

    .operator, .number, .empty{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 15px;
        float: left;
        font-size: 20px;
        
    }
    .number, .empty{
      background-color:   rgb(240, 237, 231);
      font-size: 30px;
      border: none;
    }
    .operator{
        
        border: none;
    box-shadow: 3px 3px 10px black;
    }

    .operator, .number{
        cursor: pointer;
    } 

    .operator:active {
        /* width: 59px;
        height: 59px; */
        background-color: rgb(224, 224, 224);
       
    }
    .number:active{
        background-color:rgb(121, 129, 131);
        box-shadow: 3px 3px 16px black;
   
        color: white;
    }

    button:nth-child(4)
    {
        font-size: 30px;
        background-color: orange;
    }
    button:nth-child(8)
    {
        font-size: 30px;
        background-color: orange;
    }
    button:nth-child(12)
    {
        font-size: 30px;
        background-color: orange;
    }
    button:nth-child(16)
    {
        font-size: 30px;
        background-color: orange;
    }
    button:nth-child(20)
    {
        font-size: 30px;
        background-color: rgb(6, 197, 6);
    }
    button:nth-child(20):active
    {
        color: white;
        
        background-color: rgb(5, 85, 5);
    }
    button:nth-child(16):active
    {
        color: white;
        
        background-color: rgb(214, 14, 14);
    }
    
    button:nth-child(12):active
    {
        color: white;
        
        background-color: rgb(214, 14, 14);
    }
    
    button:nth-child(8):active
    {
        color: white;
        
        background-color: rgb(214, 14, 14);
    }
    
    button:nth-child(4):active
    {
        color: white;
        
        background-color: rgb(214, 14, 14);
    }
    
    button:nth-child(16):active
    {
        color: white;
        
        background-color: rgb(214, 14, 14);
    }